#triplet {
    width:60px;
    height:40px;
    position:relative;
}

h1 {
    color: #000000;
    font-family:cursive;
}

#compose {
    width: 350px;
    height:90px;
    background:#6495ED;
    border-radius:50px;
    position:absolute;
    left:460px;
    top:250px;
    font-size:150%;
    font-family:cursive;
    color:white;
    text-align:center;
    text-decoration:underline;
    -webkit-transition: width 1s;
    transition: height .4s, width .4s, font-size .4s, top .4s;


}
#compose:hover {
    width: 350px;
    height: 130px;
    top: 230px;
    font-size: 175%;

}


#thetitle {
    text-align: center;
}

body {
    background-color: lightblue;
}
