<head lang="en">
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="../public/styles/compstyle.css">
  <script type="text/javascript" src="../public/javascripts/comp.js" >
  </script>
</head>

<body>
<a href="../public/home.html"><h1><img id="triplet" src="../public/photos/eighthTripet.gif" alt="M">elody Composer</h1></a>
</body>