<head lang="en">
  <meta charset="UTF-8">
  <title>Composer</title>
  <link rel="stylesheet" type="text/css" href="styles/compstyle.css">
  <script src="javascripts/vexflow/releases/vexflow-min.js"></script>
  <script type="text/javascript" src="javascripts/comp.js" >
  </script>
</head>

<body>
<a href="home.html"><h1><img id="triplet" src="photos/eighthTripet.gif" alt="M">elody Composer</h1></a>

<dl id="sidebar">
  <dt><a href="home.html">Home</a></dt>
  <dt><a href="tutorial.html">Tutorial</a></dt>
  <dt><a href="info.html">Info</a></dt>
  <dt><a href="thanks.html">Thanks</a></dt>
</dl>

<canvas id = "staff" width="1000" height="200"></canvas><br>

<input type="submit" id="buttonCq4" value="Middle C" /><br>
<input type="submit" id="buttonDq4" value="D 4th octave" /><br>
<input type="submit" id="buttonEq4" value="E 4th octave" /><br>
<input type="submit" id="buttonFq4" value="F 4th octave" /><br>
<input type="submit" id="buttonGq4" value="G 4th octave" /><br>
<input type="submit" id="buttonAq4" value="A 4th octave" /><br>
<input type="submit" id="buttonBq4" value="B 4th octave" /><br>

<input type="submit" id="buttonCq5" value="C 5th octave" /><br>
<input type="submit" id="buttonDq5" value="D 5th octave" /><br>
<input type="submit" id="buttonEq5" value="E 5th octave" /><br>
<input type="submit" id="buttonFq5" value="F 5th octave" /><br>
<input type="submit" id="buttonGq5" value="G 5th octave" /><br>
<input type="submit" id="buttonAq5" value="A 5th octave" /><br>
<input type="submit" id="buttonBq5" value="B 5th octave" /><br>

<input type="submit" id="buttonCq6" value="C 6th octave" /><br>

<button id="" value="0"></button>

<script>
    draw();
    enable_buttonCq4();
    enable_buttonDq4();
    enable_buttonEq4();
    enable_buttonFq4();
    enable_buttonGq4();
    enable_buttonAq4();
    enable_buttonBq4();
    enable_buttonCq5();
    enable_buttonDq5();
    enable_buttonEq5();
    enable_buttonFq5();
    enable_buttonGq5();
    enable_buttonAq5();
    enable_buttonBq5();
    enable_buttonCq6();
    //draw_note();

</script>
</body>