<head lang="en">
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="styles/logstyle.css">
  <!-- <script type="text/javascript" src="../public/javascripts/comp.js" >
  </script> -->


</head>

<body>
<a href="home.html"><h1 id = "thetitle"><img id="chordpic" src="photos/chordpic.png" alt="C Major Triad">Chord Creator</h1></a>

<form action="/dabase" method="post">
        <b>Username:</b> <input type="text" name="username" maxlength="20" placeholder="Username">
        <b>Password:</b> <input type="password" name="password" placeholder="Password">
    <input value="Login" type="submit">
</form>

<% if @error == true %>
   <p>Error: Username or password is incorrect. If you don't have an account,<a href="signup.html">Sign Up</p>

<% end%>

<p style="position: absolute;left: 570px; bottom: 20px;font-size: 11px;">© 2015 TennisCrew Software, Inc.</p>
</body>